#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;

    background-color: rgba(10, 54, 10, 0.685);
    #logo {
        margin: 0 auto;
        display: block;
        width: 250px;
        height: auto;
        margin-top: 10px;
    }
    #flag {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 200px;
        height: auto;
    }
}
@media (max-width: 700px) {
    #navbar {
        height: 70px
    }
    #navbar #logo {
        width: 150px;
    }
    #navbar #flag {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100bpx;
        height: auto;
    }
}

#spacing {
    height: 120px;
}